@import "ui/_colors";

/* ---------------------------------------------------------------------
Original Author: Stuart Anderson
Contributors: 

Target Browsers: Anything but IE thanks
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Icons
------------------------------------------------------------------------ */
$ICON_SIZE: 32px;

.icon {
  height: $ICON_SIZE;
  min-width: $ICON_SIZE;
  max-width: $ICON_SIZE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon.double-wide {
  height: $ICON_SIZE;
  min-width: $ICON_SIZE * 2;
  max-width: $ICON_SIZE * 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}