<div class="header-container">
    <div data-ng-click="expand()" class="primary">
        <!-- data-stream-ratio -->
        <span>
            <span data-stream-ratio class="icon">
        </span>
        
        <span class="title">{{::stream.Name}}</span>
        <!-- <div class="stuff" data-stream-line></div> -->
        <!--         <h2 data-ng-click="expand()">
                    <span  class="link js-stream-link sectionTitle" >{{::stream.Name}}</span>
                    <div class="box-hd_minor">{{getAlternativeNames()}}</div>
                    <div data-ng-if="isSmall == false" class="box-hd_minor">{{getCounties()}} Co.</div>
                </h2> -->
    </div>
    <div class="details header-container">

                <div class="icon">
            <div data-species-summary>
            </div>
        </div>
        <div class="icon">
            <div data-access-point-summary-tally>
            </div>
        </div>
        <div class="icon">
            <div data-ng-if="stream.Restrictions.length > 0">
                <svg class="alert" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40%" height="40%" viewBox="0 0 32 32">
                    <path d="M31.858 27.675c-3.196-5.42-11.116-18.857-14.395-24.42-0.987-1.672-1.947-1.641-2.859-0.096-3.223 5.464-11.137 18.878-14.395 24.402-0.004 0.006-0.87 2.439 0.954 2.439h29.561c1.969 0 1.048-2.471 1.134-2.325z"></path>
                    <text class="alert-text" x="12" y="25" font-family="Futura" font-size="24">!</text>
                </svg>
            </div>
        </div>
        </span>
    </div>
</div>
<!--     <div class="grid-row-col grid-row-col_8of12 statusText" data-ng-if="isSmall == false">{{::stream.AlertMessage}}
    </div> -->
<!--     <div class="grid-row-col grid-row-col_8of12" data-ng-if="isSmall">
        <div class="grid-row-col grid-row-col_6of12">
        </div>
        <div class="grid-row-col grid-row-col_6of12">
            <span data-ng-class="{'alert-none': !isAlertSymbolDisplayed()}">
                            <div class="imageOverlay-icn"> 
                                <svg class="alert" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="16" viewBox="0 0 32 32">
                                    <path d="M31.858 27.675c-3.196-5.42-11.116-18.857-14.395-24.42-0.987-1.672-1.947-1.641-2.859-0.096-3.223 5.464-11.137 18.878-14.395 24.402-0.004 0.006-0.87 2.439 0.954 2.439h29.561c1.969 0 1.048-2.471 1.134-2.325z"></path>
                                    <text class="alert-text" x="12" y="25" 
                                        font-family="Futura" 
                                        font-size="24">!</text>
                                </svg>
                            </div>
                        
                        </span>
        </div>
    </div> -->
